@page
@using MarminaAttendance.Identity;
@using Microsoft.AspNetCore.Identity;
@model IndexModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home page";
  
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
