@page "/servant/edit/{Id}"
@using AppCore.Utilities;
@model App.UI.Pages.Servant.EditcshtmlModel
<style>
    body {
        background-color: #F2F2F2;
    }

    .container {
        background-color: #FFFFFF;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

</style>
<div class="container mt-4">
    <form class="border border-primary" method="post" enctype="multipart/form-data">
        <h2 class="text-center">تحديث بيانات الخادم</h2>
        <div class="row ml-4">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="name">الاسم </label>
                    <input type="text" class="form-control" id="name" asp-for="Servant.Name">
                </div>
                <input type="hidden" asp-for="Servant.Id" />
                <div class="form-group">
                    <label for="class">الفصل</label>
                    <select class="form-control form-control-lg" asp-items="Model.Classes" asp-for="Servant.ClassId" id="class">
                    </select>
                </div>
                <div class="form-group">
                    <label for="phone">رقم التليفون </label>
                    <input type="text" class="form-control" id="phone" asp-for="Servant.Phone">
                </div>
                <div class="form-group">
                    <label for="address">العنوان</label>
                    <input type="text" class="form-control" id="address" asp-for="Servant.Address">
                </div>
                <div class="form-group">
                    <label for="fatherOfConfession">اب الاعتراف</label>
                    <input type="text" class="form-control" id="fatherOfConfession" asp-for="Servant.FatherOfConfession">
                </div>
                <div class="form-group">
                    <label for="birthday">تاريخ الميلاد </label>
                    <input type="date" class="form-control" id="birthday" asp-for="Servant.Birthday">
                </div>
                <div class="form-check form-check-flat form-check-primary">
                    <label class="form-check-label">
                        <input type="checkbox" name="Servant.Leader" class="form-check-input" value="true"> امين الفصل <i class="input-helper"></i>
                    </label>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="photo">الصورة</label>
                    <div class="card" style="width: 18rem;">
                        <img src="/photos/الخدام/@Model.Servant.Photo" class="card-img-top" alt="Current photo">
                    </div>
                    <div class="mt-3">
                        <input type="file" class="form-control-file" id="photo" asp-for="Servant.PhotoFile">
                        <small class="form-text text-muted">. من فضلك قم برفع صورة جديدة لتحديث الصورة الحالية</small>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="form-group">
                    <label for="servantWeek">الحضور الاسبوعى</label>
                    @foreach (var week in Model.WeeksList)
                    {
                         var isChecked = @Model.Servant.ServantWeek.Where(x => x.WeekId == week.Id).Any();
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="week-@week.Id" asp-for="@Model.ServantWeeksDTO.IsWeekSelected[week.Id]" checked="@(isChecked ? true : false)" value="true">
                            <label class="form-check-label" for="week-@week.Id">
                                @week.Name
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-end mb-3 mr-3">
            <button type="submit" class="btn btn-primary">تحديث</button>
        </div>
    </form>
    @* <div class="row text-center">
    <div class="col-md-12">
    <select id="chart-select" class="form-select mb-3">
    <option value="attended">Attended</option>
    <option value="missed">Missed</option>
    </select>
    <canvas id="attendanceChart" width="400" height="400"></canvas>
    </div>
    </div>*@
</div>


@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
    <script>
        var attendanceData = {
            labels: ['Attended', 'Missed'],
            datasets: [{
                data: [8, 2],
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1
            }]
        };

        // Create the attendance chart
        var ctx = document.getElementById('attendanceChart').getContext('2d');
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: attendanceData,
            options: {
                responsive: false,
                legend: {
                    position: 'center'
                }
            }
        });

    </script>
    }
