@page
@model App.UI.Pages.Servant.ListModel
<link href="~/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />

<link href="~/datatables/css/jquery.dataTables.css" rel="stylesheet" />
<div class="container mt-4">
    <div class="border mb-4">
        <div class="d-flex justify-content-between align-items-center bg-primary p-3">
            <h5 class="text-right m-0 text-white">اضافة خادم جديد</h5>
        </div>
        <div class="container mt-3">
            <form method="post" enctype="multipart/form-data">
                <div class="p-3">
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="servant-name">الاسم</label>
                            <input type="text" class="form-control" asp-for="Servant.Name" id="servant-name" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="servant-phone">رقم التليفون</label>
                            <input type="text" class="form-control" asp-for="Servant.Phone" id="servant-phone" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="servant-class">الفصل</label>
                            <select class="form-control" id="servant-class" asp-for="Servant.ClassId" required>
                                @foreach (var item in Model.Classes)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="servant-address">العنوان</label>
                            <input type="text" class="form-control" asp-for="Servant.Address" id="servant-address" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="servant-father-name">اب الاعتراف</label>
                            <input type="text" class="form-control" asp-for="Servant.FatherOfConfession" id="servant-father-name" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="servant-birthdate">تاريخ الميلاد</label>
                            <input type="date" class="form-control" asp-for="Servant.Birthday" id="servant-birthdate" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="servant-image">الصورة</label>
                            <input type="file" class="form-control" asp-for="Servant.PhotoFile" id="servant-image" accept="image/*">
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-check form-check-primary">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="Servant.Leader"/> امين الفصل </label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-3">
                        <button type="submit" class="btn btn-primary">اضافة</button>
                    </div>
                </div>
            </form>
        </div>


    </div>
    <div class="table-responsive">
        <table id="ServantsDatatable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th>الخادم</th>
                    <th>الكود</th>
                    <th>الصورة</th>
                    <th>الفصل</th>
                    <th>التليفون</th>
                    <th>العنوان</th>
                    <th>اب الاعتراف</th>
                    <th>تاريخ الميلاد</th>

                </tr>
            </thead>
        </table>
    </div>
</div>


@section scripts{

    <script src="~/datatables/js/jquery.dataTables.js"></script>
    <script src="~/datatables/js/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $("#ServantsDatatable").DataTable({
                "filter": true,
                "ajax": {
                    url: "?handler=displayServants",
                    dataSrc: ""
                },
                columns: [
                    {

                        data: 'id',
                        "render": function (data) {
                            return '<a href="/servant/edit/' + data + '" ><i class="fas fa-edit"></i></a> &nbsp;<a onclick="confirmDelete(' + data + ')"  > <i class="fas fa-trash" > </i></a > ';
                        }
                    },
                    {
                        title: 'الخادم',
                        data: 'name'
                    },
                    {
                        title: 'الكود',
                        data: 'id'
                    },
                    {
                        title: 'الصورة',
                        data: 'photo',
                        "render": function (data) { return '<img src="/photos/الخدام/' + data + '" />'; }
                    },


                    {
                        title: 'الفصل',
                        data: 'className'
                    },
                    {
                        title: 'التليفون',
                        data: 'phone'
                    },
                    {
                        title: 'العنوان',
                        data: 'address'
                    },
                    {
                        title: 'اب الاعتراف',
                        data: 'fatherOfConfession'
                    },
                    {
                        title: 'تاريخ الميلاد',
                        data: 'birthday'
                    },


                ]

            });
        });
    </script>
    <script>
        function confirmDelete(id) {
            if (confirm("هل متاكد انك تريد مسح الخادم")) {

                window.location.href = `?handler=Delete&id=${id}`;
            }
        }
    </script>
}