@page
@model App.UI.Pages.Serveds.printModel

@section Styles {
    <link rel="stylesheet" href="/css/printable-card.css" asp-append-version="true" />
}

<div class="main-content">
    @if (Model.Serveds.Any())
    {
        foreach (var served in Model.Serveds)
        {
            <div class="printable-card">
                <div class="card-header">
                    <img src="/assets/images/StMina.jpg" alt="StMina" class="scout-logo" />
                    <h2>كنيسة الشهيد العظيم مارمينا</h2>
                </div>
                <div class="card-body">
                    <div class="profile-container">
                        @if (!string.IsNullOrEmpty(served.Photo))
                        {
                            <img src="@served.PhotoPath" alt="Profile Photo" class="profile-image" />
                        }
                        else
                        {
                            <div class="no-image">لا توجد صورة</div>
                        }
                    </div>
                    <div class="info">
                        <strong>@served.Name</strong>
                    </div>
                </div>
                <div class="card-footer">
                    <img src="/photos/المخدومين/qr/@string.Concat(served.Id,".png")" alt="Barcode" class="barcode" />
                </div>
            </div>
        }
    }
</div>


