
body {
    -webkit-print-color-adjust: exact;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.printable-card {
    width: 8.56cm;
    height: 5.4cm;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-sizing: border-box;
    page-break-inside: avoid;
    border: 1px solid #ccc;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.scout-logo {
    width: 30px;
    height: auto;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-container {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.no-image {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    border-radius: 50%;
    font-size: 10px;
    color: #666;
}

.info {
    flex-grow: 1;
    text-align: center;
}

.card-footer {
    display: flex;
    justify-content: center;
}

.barcode {
    width: 50px;
    height: 50px;
}

@media print {
    .main-content {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .printable-card {
        page-break-inside: avoid;
        margin: 0.2cm;
    }
}


