.move-down{
margin-top:60px;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
.servant-item {
    text-align: center;
    margin-bottom: 20px;
}

.servant-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}

.servant-name {
    display: block;
    margin-top: 5px;
    font-weight: bold;
}

.week-list {
    margin-top: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

    .week-list li {
        margin-bottom: 5px;
    }

    .week-list label {
        margin-bottom: 0;
    }

