<!-- Servant Navigation Links -->
<li class="nav-item">
    <a class="nav-link text-dark" href="/classes/list">
        <i class="fa-solid fa-church me-2"></i>
        <span class="nav-link-text me-1">الفصول</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" href="/served/list">
        <i class="fa-solid fa-hands-holding-child me-2"></i>
        <span class="nav-link-text me-1">المخدومين</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" href="/served/birthdays">
        <i class="fa-solid fa-cake-candles me-2"></i>
        <span class="nav-link-text me-1">اعياد الميلاد</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" href="/served/quick-attendance-registration">
        <i class="fa-solid fa-user-check me-2"></i>
        <span class="nav-link-text me-1">تسجيل حضور سريع للمخدومين</span>
    </a>
</li>
